*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Poppins', sans-serif;
	
}

header {
	padding: 15px 0;
	
}

.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 20px;
}

.social-icon {
	/* border: 1px solid; */
	width: 50%;
	height: 50px;
	float: left;
	margin: 0px auto;
	/* display: inline-block; */
}

.header-info {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #535D69;
}

.header-info h4 {
	color: #fff;
	text-transform: capitalize;
	display: inline-block;
	margin: 10px 0 0 0;
}

.header-info .fab {
	color: #fff;
}

.header-info .fab:hover {
	color: #fff;
	border-radius: 10px;
}

.header-info .social {
	float: right;
	margin: 0 0;
}

.header-info a {
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	font-size: 18px;
	display: inline-block;
	transition: 0.5s;
}

.header-info a:hover {
	background-color: #BC253F;
}



.logo {
	width: 10%;
	float: left;
}

.logo img {
	width: 100%;
}

nav {
	width: 80%;
	float: right;
	margin-top: 10px;
}

nav ul {
	float: right;
}

nav ul li {
	list-style: none;
	float: left;
}

nav ul li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	color: #555;
	padding: 0px 15px;
	display: inline-block;
	text-transform: capitalize;
	transition: 0.5s;
}

nav ul li a:last-child {
	padding-right: 0;
}

nav ul li a:hover {
	color: #8d233f;	
}



/*-----banner start-----*/

.banner {
	background-image: url(../images/image1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.b_content {
	width: 50%;
	margin: 100px 0;
}

.b_content h1 {
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	line-height: 50px;
	letter-spacing: 2px;
	margin: 0;
}

.b_content p {
	font-size: 16px;
	color: #fff;
	line-height: 25px;
	padding-top: 15px;
	margin-top: 0;
	margin-bottom: 16px;
}

button {
	font-family: 'Poppins', sans-serif;
	width: 250px;
	height: 50px;
	background-color: #BC253F;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.5s;
}

button:hover {
	background-color: #3d0712;
}

/*-----banner end-----*/

/*-----work section start-----*/
.work {
	margin: 40px 0;
}

.text {
	width: 60%;
	margin: 30px auto;
	text-align: center;
	padding-bottom: 10px;
}

.text h2 {
	font-size: 30px;
	margin: 0px auto;
}


.work p {
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	margin: 16px auto;
	padding: 0 50px;
}

.work h5 {
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	margin: 16px auto;
	padding: 0 50px;
}
}

.icon {
	width: 100%;
	height: 200px;
	margin: 50px auto;
	overflow: hidden;
}

.box1 {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50px;
	padding: 15px 0;
	background-color: #85A1BF;
	transition: 0.5s;
}

.box2 {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50px;
	padding: 10px 0;
	background-color: #566B85;
	transition: 0.5s;
}

.box3 {
    width: 50px;
    height: 50px;
    background-color: #535D69;
    margin: 0 auto;
    border-radius: 50px;
    padding: 10px 0;
    transition: 0.5s;
}

.box1:hover {
	background-color: #E89EAB;
}

.box2:hover {
	background-color: #CA415B;
}

.box3:hover {
	background-color: #BB223E;
}
.col-3 {
	width: 33.33%;
	float: left;
	margin: 0px auto;
	text-align: center;
	padding: 0px 15px;
}


.col-3 i {
	color: #fff;
	font-size: 20px;
}

.media {
	background-color: #FAFAF0;
}
.small-container {
	width: 100%;
	margin: 50px 0;
	display: inline-block;
}
.col-2 {
    width: 50%;
    float: left;
   
}

/*-----work section end-----*/


/*-----promo section start-----*/

.media h2 {
	margin: 100px 0 15px 0;
}

.media p {
	width: 70%;
	margin: 0 0px 10px 0px;
}

iframe {
	width: 100%;
	height: 400px;
	display: inline-block;
}

/*-----promo section end-----*/

/*-----features start-----*/

.features {
	margin: 20px auto;
}



.features .col-3 {
	width: 32%;
	border: 1px solid #e8e5e5;
	padding: 20px;
	margin: 2px;
}
.features h3 {
	font-size: 18px;
	margin: 10px 0;
}

.features p {
	margin: 20px 0;
}

.features .col-3 i {
	font-size: 50px;
	color: #555;
	margin: 20px auto;
}

.features .col-3:hover {
	box-shadow: 0 5px 5px 5px #e8e5e5;
	transition: 0.5s;
}

.features .col-3 i:hover {
	color: #BC253F;
	transition: 0.5s;
}

.features button {
	color: #BC253F;
	background-color: #fff;
	border: 1px solid;
	margin: 10% 30% 0 0;
}

.features button:hover {
	background-color: #bc253f;
	color: #fff;
}

/*-----features end-----*/

/*-----footer start-----*/


footer {
	background-color: #000;
	margin: 0 0 0px 0px;
}

footer .row {
	
}

.footer-3 {
	border: 1px solid;
	width: 33.33%;
	float: left;
}

.footer-3 .contact {

}

footer h3 {
	text-transform: capitalize;
	color: #BC253F;
	margin: 10px 0;
}

footer a {
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	transition: 0.5s;
}

footer a:hover {
	color: #BC253F;
}

footer p {
	color: #fff;
}

footer ul {
	list-style: none;
	padding: 5px 0 10px 0px;
}

footer ul li {
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

footer ul li a {
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	transition: 0.5s;
}

footer .fab {
	font-size: 25px;
	padding: 0 0 0 5px;
}

footer .fab:hover {
	border-radius: 10px;
}

footer ul li:hover {
    color: #BC253F;

}

footer ul li a:hover {
    color: #BC253F;

}

footer form {
	width: 100%;
}

footer input {
	width: 60%;
	height: 50px;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
}

footer button {
	width: 30%;
	height: 50px;
}

.box {
	width: 100%;
	height: 70px;
	background-color: #535D69;
}

.copyright {
	color: #fff;
	text-align: center;
	margin: 10px auto;
	padding: 11px 0;
}



/*-----footer end-----*/